.centerTitle {
	margin-top: 50px;
	text-align: center;
	font-style: oblique;
	font-size: 4em;
}

.centerDeleteAccount {
	text-align: center;
}

#loginForm {
	max-width: 600px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#regForm {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#regButton {
	margin-top: 30px;
}

#hiddenDatePicker {
	display: none;
}

#deleteButton {
	float: right;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

#passwordMatch {
	display: none;
}

.error {
	color: red;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.ng-invalid .btn {
	border: gray;
	background: gray;
}

.buttonCenter {
	text-align: center;
}

.buttonMargin {
	margin-right: 20px;
}

#scheduleSub {
	margin 20px 20px 20px 20px;
}

.buttons {
	margin-right: 10px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

#selDate {
	border-style: hidden;
}

#selDate td {
	vertical-align: middle;
}

#selDate th {
	text-align: center;
}

#calPrevNext {
	margin-bottom: 10px;
}

#calContainer {
	margin-bottom: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#pageContainer {
	margin-left: auto;
	margin-right: auto;
}

#boardContainer {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

#attrib {
	margin: 15px 15px 15px 15px;
	position: fixed;
	bottom: 0;
	right: 0;
}

#attrib img {
	width: 50px;
}

#attrib p {
	float: left;
	padding-top: 33px;
	margin-right: 20px;
	font-style: oblique;
}
