<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<!-- Angular Bootstrap Calendar -->
		<link rel='stylesheet' href='bowerfiles/angular-bootstrap-calendar.min.css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/app.css'>
		<link rel='stylesheet' href='/custom.css'>
		<link rel="shortcut icon" href="img/favicon.ico">
		<!-- favicon attribution -->
		<!-- Calendar graphic by "http://www.icomoon.io". Icomoon from "http://www.flaticon.com/". Flaticon is licensed under "http://creativecommons.org/licenses/by/3.0/" Creative Commons BY 3.0 CC BY 3.0. Made with "http://logomakr.com" Logo Maker -->
		<base href="/">
	</head>
	<body ng-controller='ApplicationCtrl'>
		<nav class='navbar navbar-default'>
			<div class='container'>
				<!-- If a user is logged in -->
				<ul ng-if='currentUser' class='nav navbar-nav ng-cloak'>
					<li><a class='logout' href='/#/login' ng-click='logout()'>Logout</a></li>
					<li><a class='schedule' href='/#/schedule' ng-click=''>Schedule</a></li>
					<li><a class='discussion' href='/#/discussion' ng-click=''>Discussion</a></li>
					<li><a class='settings' href='/#/settings' ng-click=''>Settings</a></li>
				</ul>
				<!-- If no user logged in -->
				<ul ng-if='!currentUser' class='nav navbar-nav ng-cloak'>
					<li><a class='register' href='/#/register'>Register</a></li>
					<li><a class='login' href='/#/login'>Login</a></li>
				</ul>

				<p ng-if='currentUser && !currentUser.supervisor' class='navbar-text navbar-right ng-cloak signInName'>
					Signed in as &nbsp<b>{{currentUser.firstname + " " + currentUser.lastname}}</b>
				</p>
				<p ng-if='currentUser && currentUser.supervisor' class='navbar-text navbar-right ng-cloak signInName'>
					Signed in as &nbsp<b>{{currentUser.firstname + " " + currentUser.lastname}} (Supervisor)</b>
				</p>
			</div>
		</nav>
		
		<div class='container' ng-view></div>
		
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.js'></script>
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-route.js'></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js'></script>
		<script src='bowerfiles/jquery.min.js'></script>
		<script src='bowerfiles/moment.js'></script>
		<script src='bowerfiles/moment-timezone-with-data-2010-2020.min.js'></script>
		<!-- Angular Bootstrap Calendar -->
		<script src='bowerfiles/angular-bootstrap-calendar-tpls.min.js'></script>
		<script src='/app.js'></script>
	</body>
</html>
