<div id="boardContainer">
	<h1 ng-if='currentUser'>{{ "VRC Discussion Board" }}</h1>

	<form role='form'>
		<div class='form-group'>
			<div class="input-group">
			<span class="input-group-btn">
                <input name="postBody" ng-model="postBody" placeholder="Enter your message..." class="form-control">
                <button ng-click="addPost()" class="btn btn-default">Send</button>
            </span>
			</div>
		</div>
	</form>

	<ul class='posts list-group'>
		<li ng-repeat="post in posts" class='list-group-item'>
			{{ post.date | date:'MM/d h:mm a' }} |&nbsp
			<strong>{{ post.firstname }} {{ post.lastname }}:&nbsp</strong>
			<span>{{ post.body }}</span>
		</li>
	</ul>
</div>
