<h1 class="centerTitle">Regis VRC Scheduler</h1>

<!-- Login form -->
<form class="form-horizontal " id="loginForm" ng-submit="login(username, password)">
	<div class="form-group">
		<label for="username" class="col-sm-2 control-label">Username</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" id="username" ng-model="username">
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
			<input class="form-control" type="password" id="password" ng-model="password">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<a href="" ng-click="viewResetPassword()">Forgot Password?</a>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-10">
			<input class="btn btn-default btn-lg" type="submit" value="Login">
		</div>
	</div>
</form>

<!-- Pop window for forgot password -->
<script type="text/ng-template" id="modalResetPassword.html">
	<div class="modal-header">
		<h4 class="modal-title">Enter email address of account to reset your password.</h4>
	</div>
	<div class="modal-body">
		<form name="myForm" ng-submit="myForm.$valid && initResetPassword(emailaddress)" novalidate>
			<!-- Email address -->
			<div class="form-group">
				<input class="form-control" type="email" ng-required="true" name="emailaddress" ng-model="emailaddress">
				<p class="error" ng-show="myForm.emailaddress.$invalid && myForm.emailaddress.$touched">
					Enter an email address.
				</p>
			</div>
			<div class="buttonCenter">
				<input class="btn btn-success btn-sm" type="submit" value="Reset Password">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="$close()">Cancel</button>
	</div>
</script>

<!-- Footer -->
<span id="attrib">
	<p>Built with</p>
	<img ng-src="img/meanlogo.png" alt="">
</span>

