<div id="pageContainer">
    <h1 ng-if='currentUser'>{{ othercampus + " - VRC Work Schedule" }}</h1>

    <span id="calSubOpt">
        <div id="scheduleSub">
            <a href='/#/schedule' class="buttons btn btn-default" ng-click="">Return to your campus schedule</a>
            <button type="button" class="btn btn-default" ng-click="viewMembers()">Members Contacts</button>
        </div>

        <!-- Pop window of members info -->
        <script type="text/ng-template" id="modalMembers.html">
            <div class="modal-header">
                <h3 class="modal-title">Members Contacts</h3>
            </div>
            <div class="modal-body">
                <div ng-repeat="member in members" class="list-group-item">
                    <strong ng-show="member.supervisor">Supervisor ({{member.firstname}} {{member.lastname}})</strong>
                    <strong ng-show="!member.supervisor">{{member.firstname}} {{member.lastname}}</strong>
                    <br/><span>Phone:  &nbsp&nbsp{{member.phonenumber}}</span>
                    <br/><span>Email:  &nbsp&nbsp{{member.emailaddress}}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="$close()">Close</button>
            </div>
        </script>
    </span>

    <!-- Angular Bootstrap Calendar -->
    <!-- Calendar Header -->
    <div id="calTopOptions" class="row">
        <div id="calPrevNext" class="col-md-12 text-center">
            <div class="btn-group">
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="calendarDay"
                        decrement="calendarView">
                    Previous
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="calendarDay"
                        set-to-today>
                    Today
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="calendarDay"
                        increment="calendarView">
                    Next
                </button>
            </div>
        </div>

        <br class="visible-xs visible-sm">
    </div>

    <!-- Calendar View -->
    <div id="calContainer">
        <mwl-calendar
                events="events"
                view="calendarView"
                view-title="calendarTitle"
                current-day="calendarDay"
                on-event-click="eventClicked(calendarEvent)"
                on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                on-edit-event-click="eventEdited(calendarEvent)"
                on-delete-event-click="eventDeleted(calendarEvent)"
                cell-is-open="isCellOpen"
                day-view-start="07:00"
                day-view-end="18:00"
                day-view-split="30"
                cell-modifier="modifyCell(calendarCell)">
        </mwl-calendar>
    </div>

    <!-- Pop window of work block -->
    <script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ vm.event.title }}</h3>
        </div>
        <div class="modal-body">
            <p>Action: <pre>{{ vm.action }}</pre></p>
            <p>Event: <pre>{{ vm.event | json }}</pre></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close()">OK</button>
        </div>
    </script>
</div>
