<form id="regForm" name="myForm" ng-submit="myForm.$valid && register(firstname, lastname, campus, phonenumber, emailaddress, username, password, regCode)" novalidate>
	<!-- First name -->
	<div class="form-group">
		<label>First Name</label>
		<input class="form-control" type="text" ng-required="true" name="firstname" ng-model="firstname">
		<p class="error" ng-show="myForm.firstname.$invalid && myForm.firstname.$touched">
			Enter your first name.
		</p>
	</div>
	<!-- Last name -->
	<div class="form-group">
		<label>Last Name</label>
		<input class="form-control" type="text" ng-required="true" name="lastname" ng-model="lastname">
		<p class="error" ng-show="myForm.lastname.$invalid && myForm.lastname.$touched">
			Enter your last name.
		</p>
	</div>
	<!-- Campus location -->
	<div class="form-group">
		<label for="selCampus">Campus</label>
		<select class="form-control" id="selCampus" ng-required="true" name="campus" ng-model="campus">
			<option>Lowell</option>
			<option>Colorado Springs</option>
		</select>
		<p class="error" ng-show="myForm.campus.$invalid && myForm.campus.$touched">
			Select your campus from list.
		</p>
	</div>
	<!-- Phone number -->
	<div class="form-group">
		<label>Phone number</label>
		<input ui-mask="(999) 999-9999" placeholder="(xxx) xxx-xxxx" type="text" class="form-control" ng-required="true" name="phonenumber" ng-model="phonenumber">
		<p class="error" ng-show="myForm.phonenumber.$invalid && myForm.phonenumber.$touched">
			Enter your phone number.
		</p>
	</div>
	<!-- Email address -->
	<div class="form-group">
		<label>Email</label>
		<input type="email" class="form-control" ng-required="true" name="emailaddress" ng-model="emailaddress">
		<p class="error" ng-show="myForm.emailaddress.$invalid && myForm.emailaddress.$touched">
			Enter your email address.
		</p>
	</div>
	<!-- username -->
	<div class="form-group">
		<label>Username</label>
		<input class="form-control" type="text" ng-required="true" name="username" ng-model="username">
		<p class="error" ng-show="myForm.username.$invalid && myForm.username.$touched">
			Enter a username.
		</p>
	</div>
	<!-- password -->
	<div class="form-group">
		<label>Password</label>
		<input class="form-control" type="password" ng-required="true" ng-minlength="6" name="password" ng-model="password">
		<p class="error" ng-show="myForm.password.$invalid && myForm.password.$touched">
			Enter a password. Password must be at least 6 characters.
		</p>
	</div>
	<!-- Registration Code -->
	<div class="form-group">
		<label>Registration Code</label>
		<input type="text" class="form-control" ng-required="true" name="regCode" ng-model="regCode">
		<p class="error" ng-show="myForm.regCode.$invalid && myForm.regCode.$touched">
			Enter the registration code.
		</p>
	</div>

	<input id="regButton" class="btn btn-success btn-lg btn-block" type="submit" value="Register">
</form>
