<div id="pageContainer">
	<h1 ng-if='currentUser'>{{ currentUser.campus + " - VRC Work Schedule" }}</h1>

	<span id="calSubOpt">
		<div id="scheduleSub">
			<a href='/#/othercampus' class="buttons btn btn-default" ng-click="">View other campus schedule</a>
			<button type="button" class="btn btn-default" ng-click="viewMembers()">Members Contacts</button>
		</div>

		<!-- Pop window of members info -->
		<script type="text/ng-template" id="modalMembers.html">
			<div class="modal-header">
				<h3 class="modal-title">Members Contacts</h3>
			</div>
			<div class="modal-body">
				<div ng-repeat="member in members" class="list-group-item">
					<strong ng-show="member.supervisor">Supervisor ({{member.firstname}} {{member.lastname}})</strong>
					<strong ng-show="!member.supervisor">{{member.firstname}} {{member.lastname}}</strong>
					<br/><span>Phone:  &nbsp&nbsp{{member.phonenumber}}</span>
					<br/><span>Email:  &nbsp&nbsp{{member.emailaddress}}</span>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="$close()">Close</button>
			</div>
		</script>
	</span>

	<!-- Angular Bootstrap Calendar -->
	<table id="selDate" class="table table-bordered" ng-hide="currentUser.supervisor">
		<thead>
		<tr>
			<th>Date</th>
			<th>From</th>
			<th>To</th>
		</tr>
		</thead>

		<tbody>
		<tr>
			<td>
				<div class="input-group">
					<input
							type="text"
							class="form-control"
							uib-datepicker-popup="dd MMMM yyyy"
							ng-model="startsAt"
							ng-change="endsAt = startsAt"
							is-open="openedStart"
							close-text="Close" />
				  <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				  </span>
				</div>
			</td>
			<!-- Starts at -->
			<td>
				<uib-timepicker
						ng-model="startsAt"
						hour-step="1"
						minute-step="15"
						show-meridian="true">
				</uib-timepicker>
			</td>
			<!-- Ends at -->
			<td>
			<span id="hiddenDatePicker">
				<p class="input-group" style="max-width: 250px">
					<input
							type="text"
							class="form-control"
							uib-datepicker-popup="dd MMMM yyyy"
							ng-model="endsAt"
							is-open="openedEnd"
							close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
				</p>
			</span>
				<uib-timepicker
						ng-model="endsAt"
						hour-step="1"
						minute-step="15"
						show-meridian="true">
				</uib-timepicker>
			</td>
			<!-- Add button -->
			<td>
				<button
						class="btn btn-primary pull-left"
						ng-click="addWorkBlock()">
					Add
				</button>
			</td>
		</tr>
		</tbody>
	</table>

	<!-- Calendar Header -->
	<div id="calTopOptions" class="row">
		<div id="calPrevNext" class="col-md-12 text-center">
			<div class="btn-group">
				<button
						class="btn btn-primary"
						mwl-date-modifier
						date="calendarDay"
						decrement="calendarView">
					Previous
				</button>
				<button
						class="btn btn-default"
						mwl-date-modifier
						date="calendarDay"
						set-to-today>
					Today
				</button>
				<button
						class="btn btn-primary"
						mwl-date-modifier
						date="calendarDay"
						increment="calendarView">
					Next
				</button>
			</div>
		</div>

		<br class="visible-xs visible-sm">
	</div>

	<!-- Calendar View -->
	<div id="calContainer">
		<mwl-calendar
				events="events"
				view="calendarView"
				view-title="calendarTitle"
				current-day="calendarDay"
				on-event-click="eventClicked(calendarEvent)"
				on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
				edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
				delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
				on-edit-event-click="eventEdited(calendarEvent)"
				on-delete-event-click="eventDeleted(calendarEvent)"
				cell-is-open="isCellOpen"
				day-view-start="07:00"
				day-view-end="18:00"
				day-view-split="30"
				cell-modifier="modifyCell(calendarCell)">
		</mwl-calendar>
	</div>

	<!-- Pop window of each workblock -->
	<script type="text/ng-template" id="modalEvent.html">
		<div class="modal-header">
			<h3 class="modal-title">{{ vm.event.title }}</h3>
		</div>
		<!-- <div class="modal-body">
            <p>{{ vm.event.username }}</p>
        </div> -->
		<div class="modal-footer">
			<button class="btn btn-danger floatLeft" ng-show="currentUsername === vm.event.username" ng-click="initDeleteWorkBlock(vm.event)">Delete</button>
			<button class="btn btn-primary" ng-click="$close()">Close</button>
		</div>
	</script>
</div>
