<h1>Account Settings</h1>

<div id="accountInfo">
    <table class="table table-bordered table-striped">
        <tr class="info">
            <td>First Name</td>
            <td>Last Name</td>
            <td>Campus</td>
            <td>Phone</td>
            <td>Email</td>
        </tr>
        <tr>
            <td>{{currentUser.firstname}}<a href="" ng-click="viewUpdateFirstName()"><span class="glyphicon glyphicon-pencil floatRight"></span></a></td>
            <td>{{currentUser.lastname}}<a href="" ng-click="viewUpdateLastName()"><span class="glyphicon glyphicon-pencil floatRight"></span></a></td>
            <td>{{currentUser.campus}}<a href="" ng-click="viewUpdateCampus()"><span class="glyphicon glyphicon-pencil floatRight"></span></a></td>
            <td>{{currentUser.phonenumber}}<a href="" ng-click="viewUpdatePhoneNumber()"><span class="glyphicon glyphicon-pencil floatRight"></span></a></td>
            <td>{{currentUser.emailaddress}}<a href="" ng-click="viewUpdateEmailAddress()"><span class="glyphicon glyphicon-pencil floatRight"></span></a></td>
        </tr>
    </table>

    <!-- Pop window to update first name -->
    <script type="text/ng-template" id="modalUpdateFirstName.html">
        <div class="modal-header">
            <h3 class="modal-title">Update First Name</h3>
        </div>
        <div class="modal-body">
            <form name="myForm" ng-submit="myForm.$valid && updateFirstName(firstname)" novalidate>
                <!-- Input -->
                <input class="form-control" type="text" ng-required="true" placeholder="Enter new first name" name="firstname" ng-model="firstname">
                <p class="error" ng-show="myForm.firstname.$invalid && myForm.firstname.$touched">
                    Enter first name.
                </p>
                <br/>
                <div class="buttonCenter">
                    <input class="btn btn-success btn-sm" type="submit" value="Save">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </script>
    <!-- Pop window to update last name -->
    <script type="text/ng-template" id="modalUpdateLastName.html">
        <div class="modal-header">
            <h3 class="modal-title">Update Last Name</h3>
        </div>
        <div class="modal-body">
            <form name="myForm" ng-submit="myForm.$valid && updateLastName(lastname)" novalidate>
                <!-- Input -->
                <input class="form-control" type="text" ng-required="true" placeholder="Enter new last name" name="lastname" ng-model="lastname">
                <p class="error" ng-show="myForm.lastname.$invalid && myForm.lastname.$touched">
                    Enter last name.
                </p>
                <br/>
                <div class="buttonCenter">
                    <input class="btn btn-success btn-sm" type="submit" value="Save">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </script>
    <!-- Pop window to update campus-->
    <script type="text/ng-template" id="modalUpdateCampus.html">
        <div class="modal-header">
            <h3 class="modal-title">Update Campus</h3>
        </div>
        <div class="modal-body">
            <form name="myForm" ng-submit="myForm.$valid && updateCampus(campus)" novalidate>
                <!-- Input -->
                <select class="form-control" ng-required="true" id="selCampus" name="campus" ng-model="campus">
                    <option>Lowell</option>
                    <option>Colorado Springs</option>
                </select>
                <br/>
                <div class="buttonCenter">
                    <input class="btn btn-success btn-sm" type="submit" value="Save">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </script>
    <!-- Pop window to update phone number -->
    <script type="text/ng-template" id="modalUpdatePhoneNumber.html">
        <div class="modal-header">
            <h3 class="modal-title">Update Phone Number</h3>
        </div>
        <div class="modal-body">
            <form name="myForm" ng-submit="myForm.$valid && updatePhoneNumber(phonenumber)" novalidate>
                <!-- Input -->
                <input ui-mask="(999) 999-9999" placeholder="(xxx) xxx-xxxx" class="form-control" type="text" ng-required="true" name="phonenumber" ng-model="phonenumber">
                <p class="error" ng-show="myForm.phonenumber.$invalid && myForm.phonenumber.$touched">
                    Enter a valid phone number.
                </p>
                <br/>
                <div class="buttonCenter">
                    <input class="btn btn-success btn-sm" type="submit" value="Save">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </script>
    <!-- Pop window to update email address -->
    <script type="text/ng-template" id="modalUpdateEmailAddress.html">
        <div class="modal-header">
            <h3 class="modal-title">Update email address</h3>
        </div>
        <div class="modal-body">
            <form name="myForm" ng-submit="myForm.$valid && updateEmailAddress(emailaddress)" novalidate>
                <!-- Input -->
                <input class="form-control" type="email" ng-required="true" placeholder="Enter new email address" name="emailaddress" ng-model="emailaddress">
                <p class="error" ng-show="myForm.emailaddress.$invalid && myForm.emailaddress.$touched">
                    Enter a valid email address.
                </p>
                <br/>
                <div class="buttonCenter">
                    <input class="btn btn-success btn-sm" type="submit" value="Save">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </script>
</div>

<span>
    <button type="button" class="btn btn-default" ng-click="viewChangePassword()">Change Password</button>
    <button type="button" class="btn btn-danger" id="deleteButton" ng-click="viewDeleteAccount()">Delete Account</button>

    <!-- Pop window to update password -->
    <script type="text/ng-template" id="modalChangePassword.html">
        <div class="modal-header">
            <h3 class="modal-title">Change Password</h3>
        </div>
        <div class="modal-body">
            <form name="myForm" ng-submit="myForm.$valid && initChangePassword(currPassword, newPassword1, newPassword2)" novalidate>
                <!-- Current password -->
                <div class="form-group">
                    <label>Current Password</label>
                    <input class="form-control" type="password" ng-required="true" name="currPassword" ng-model="currPassword">
                    <p class="error" ng-show="myForm.currPassword.$invalid && myForm.currPassword.$touched">
                        You must enter current password.
                    </p>
                </div>
                <!-- New passwords -->
                <div class="form-group">
                    <label>New Password</label>
                    <input class="form-control" type="password" ng-required="true" ng-minlength="6" name="newPassword1" ng-model="newPassword1"/>
                    <p class="error" ng-show="myForm.newPassword1.$invalid && myForm.newPassword1.$touched">
                        You must enter a new password with minimum length of 6 characters.
                    </p>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" type="password" ng-required="true" ng-minlength="6" name="newPassword2" ng-model="newPassword2">
                    <p class="error" ng-show="pwNoMatch">Passwords need to match.</p>
                </div>

                <div class="buttonCenter">
                    <input class="btn btn-success btn-sm" type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </script>

    <!-- Pop window to delete account -->
    <script type="text/ng-template" id="modalDeleteAccount.html">
        <div class="modal-header">
            <h3 class="modal-title centerDeleteAccount">Are you sure you want to delete your account?</h3>
        </div>
        <div class="modal-body">
            <div class="buttonCenter">
                <span>
                    <button type="button" class="btn btn-success buttonMargin" ng-click="initDeleteAccount()">Yes</button>
                    <button class="btn btn-default buttonMargin" ng-click="$close()">No</button>
                </span>
            </div>
        </div>
    </script>
</span>

